<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjc.aclmanager.mapper.SysUserMapper">
	
	<!-- 查询用户的所有权限 -->
	<select id="findByJobNum" resultType="com.hjc.aclmanager.entity.SysUser" parameterType="map">
        SELECT id, real_name, job_num, pwd
        FROM sys_user
        WHERE job_num = #{username}

	</select>

    <select id="getUser" resultType="com.hjc.aclmanager.vo.TransferVO" >
        select id as value ,real_name as title
        from sys_user
        where worksta=0
    </select>

</mapper>